*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    height: 100vh;
    background: linear-gradient(#21b3e1,#fff);
    /* 배경 이미지 밑으로 그라데이션 */
    overflow: hidden;       /* 안의 콘텐츠가 넘치면 자름*/
    position: relative;
}
.navbar{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #b7e7f6;
}
.nav{

}